.navbar-lewagon {
  justify-content: space-between;
  background: white;
  color:white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  columns: white;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  color:white;
}
